<nav class="navbar navbar-expand-lg navbar">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img src="logo.jpg" alt="TrueTest Logo" class="logo" />
      </a>
  
    </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <ng-container *ngIf="isAuthenticated; else loggedOut">
            <li class="nav-item">
              <a class="nav-link" routerLink="/mentor/horarios">Horarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/mentor/reseñas">Reseñas</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="profileDropdown"
                role="button"
                data-bs-toggle="dropdown"
              >
                <i class="fas fa-user"></i> Mi Perfil
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/estudiante/perfil">Ver Perfil</a></li>
                <li><a class="dropdown-item" href="#" (click)="logout()">Cerrar Sesión</a></li>
              </ul>
            </li>
          </ng-container>
  
          <ng-template #loggedOut>
            <li class="nav-item ms-3">
              <a class="btn btn-outline-primary" routerLink="/auth/register">
                <i class="fas fa-user-plus"></i> Regístrate
              </a>
            </li>
            <li class="nav-item ms-2">
              <a class="btn btn-primary" routerLink="/auth/login">
                <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
              </a>
            </li>
          </ng-template>
        </ul>
      </div>
  </nav>
  