<div class="perfil-container">
  <div class="perfil-header">
    <img [src]="userProfile?.fotoPerfil" alt="Foto de perfil" class="perfil-foto">
    <h1>{{ userProfile?.nombre }}</h1>
    <p class="perfil-email">{{ userProfile?.email }}</p>
  </div>

  <div class="perfil-info">
    <h2>Información General</h2>
    <ul>
      <li><strong>ID:</strong> {{ userProfile?.id }}</li>
      <li><strong>Rol:</strong> Estudiante</li>
      <li><strong>Teléfono:</strong> {{ userProfile?.telefono }}</li>
    </ul>
  </div>
</div>
