/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Botón Regresar */
.back-button {
  background-color: #1e88e5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #1565c0;
}

/* Contenedor general del perfil y horarios */
.mentor-horarios-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinea los elementos en la parte superior */
  gap: 20px; /* Espacio entre los cuadros */
  margin: 20px 0;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

/* Perfil del Mentor */
.mentor-profile {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 48%; /* Establece un ancho mínimo para que no se deforme */
  max-width: 48%; /* Limita el ancho máximo para que no se expanda demasiado */

}

.mentor-profile h2 {
  color: #1e88e5;
  font-size: 2rem;
  margin-bottom: 10px;
}

.mentor-profile p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.mentor-link {
  color: #1e88e5;
  text-decoration: none;
}

.mentor-link:hover {
  text-decoration: underline;
}

/* Horarios disponibles */
.horarios-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  flex: 1;

  min-width: 48%;
  max-width: 48%;

}

/* Títulos del cuadro de horarios */
.horarios-container h3 {
  color: #1e88e5;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 20px;

}

.horarios-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.horarios-list li {
  background: rgba(66, 165, 245, 0.1);
  border-left: 5px solid #1e88e5;
  padding: 20px 15px; /* Aumenta el padding interno */
  margin-bottom: 20px; /* Aumenta el espacio entre los horarios */
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column; /* Apila el contenido dentro del horario */
  gap: 10px; /* Espacio entre los elementos internos del horario */
}

.horarios-list li:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.horarios-list li strong {
  color: #1e88e5;
  font-weight: bold;
}

.horarios-list li span {
  color: #333;
  font-size: 1rem;
  display: block;
}

.horario-buttons {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.button-registrar, .button-desregistrar {
  padding: 8px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #2196F3;
  color: white;
}

.button-registrar:hover, .button-desregistrar:hover {
  background-color: #1976D2;
}

/* Mensaje de no disponibilidad de horarios */

.no-horarios-message {
  text-align: center;
  color: #90caf9;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Sección de Reseñas */
.reviews-container {
  margin-top: 30px;
}

.reseña {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.reseña p {
  margin-bottom: 10px;
}

/*mensaje sin horario*/
.no-reviews-message {
  text-align: center;
  color: #ccc;
  font-size: 1.2rem;
}

/* Estilos para el formulario de reseñas */
.add-review {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.add-review h3 {
  font-size: 1.6rem;
  color: #1e88e5;
  margin-bottom: 20px;
}

.add-review textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
  margin-bottom: 10px;

/* Contenedor de los botones, alineados abajo */
.horario-buttons {
  margin-top: auto; /* Esto empuja los botones hacia abajo */
  display: flex;
  justify-content: space-between; /* Alinea los botones a la izquierda y derecha */
  gap: 10px; /* Espacio entre los botones */
  width: 100%; /* Los botones ocupan todo el ancho disponible */

}

.add-review input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
  margin-bottom: 10px;
}

.add-review button {
  padding: 10px 20px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

.add-review button:disabled {
  background-color: #90caf9;

  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  background-color: #2196F3; /* Azul */
  color: white;
}

.button-registrar:hover {
  background-color: #1976D2; /* Azul más oscuro */
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.add-review button:hover:not(:disabled) {
  background-color: #1976D2;
}

/* Estilos de las estrellas */
.stars-container {
  display: flex;
  gap: 5px;
  font-size: 30px;
  cursor: pointer;
}

.star {
  color: #ccc;
  transition: color 0.3s ease;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  background-color: #2196F3; /* Azul */
  color: white;
}

.button-desregistrar:hover {
  background-color: #1976D2; /* Azul más oscuro */
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.star.filled {
  color: #ff9800; /* Color dorado cuando la estrella está llena */
}

.star:hover {
  color: #ff9800; /* Color dorado al pasar el mouse */
}


