<!-- Formulario para recuperar contraseña (enviar correo) -->
<div *ngIf="!token">
  <div class="reset-password-container">
    <h2>Recuperar Contraseña</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="requestPasswordReset()">
      <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <input id="email" type="email" formControlName="email" required />
        <!-- Mensajes de error -->
        <div *ngIf="passwordForm.controls['email'].invalid && passwordForm.controls['email'].touched">
          <small class="error-message" *ngIf="passwordForm.controls['email'].hasError('required')">
            El correo electrónico es obligatorio.
          </small>
          <small class="error-message" *ngIf="passwordForm.controls['email'].hasError('email')">
            Ingresa un correo electrónico válido.
          </small>
        </div>
      </div>
      <button class="btn" type="submit">Enviar Correo</button>
    </form>
    <!-- Mensajes de estado -->
    <div *ngIf="isEmailSent" class="success-message">
      Hemos enviado un correo con las instrucciones para restablecer tu contraseña.
    </div>
    <div *ngIf="isEmailError" class="error-message">
      Hubo un error al enviar el correo. Intenta de nuevo.
    </div>
  </div>
</div>


<!-- Formulario para restablecer la contraseña (cuando hay un token) -->
<div *ngIf="token && isTokenValid">
  <div class="reset-password-container">
    <h2>Restablecer Contraseña</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
      <div class="form-group">
        <label for="password">Nueva Contraseña</label>
        <input id="password" type="password" formControlName="password" required />
      </div>
      <button class="btn" type="submit" [disabled]="passwordForm.invalid">Restablecer Contraseña</button>
    </form>

    <div *ngIf="isPasswordResetSuccess" class="success-message">
      Contraseña restablecida con éxito. Ahora puedes iniciar sesión.
    </div>
    <div *ngIf="isPasswordResetError" class="error-message">
      Hubo un error al restablecer tu contraseña. Intenta de nuevo.
    </div>
  </div>
</div>
