<section class="update-profile-container">
  <div class="update-profile-card">
    <div class="update-profile-form">
      <h2>Actualizar Perfil</h2>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-field">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" placeholder="Ingrese su nombre">
          <mat-error *ngIf="controlHasError('nombre', 'required')">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Ingrese su correo electrónico">
          <mat-error *ngIf="controlHasError('email', 'required')">
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="controlHasError('email', 'email')">
            Introduzca un correo electrónico válido
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="submit-button" type="submit" [disabled]="profileForm.invalid">
          Guardar Cambios
        </button>
      </form>
    </div>
  </div>
</section>

