<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- Logo -->
    <a href="#" class="navbar-brand">
      <img src="logo2.png" alt="TrueTest Logo" class="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="isAuthenticated; else loggedOut">
          <li class="nav-item">
            <a class="nav-link" routerLink="/estudiante/test">
              <i class="fas fa-file-alt"></i> Test
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/estudiante/mentores">
              <i class="fas fa-user-tie"></i> Mentores
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/estudiante/planes">
              <i class="fas fa-chart-line"></i> Planes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/estudiante/perfil">
              <i class="fas fa-user-circle"></i> Perfil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/estudiante/perfil/actualizar">
              <i class="fas fa-user-edit"></i> Actualizar Perfil
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="profileDropdown"
              role="button"
              data-bs-toggle="dropdown"
            >
              <i class="fas fa-user"></i> Mi Perfil
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/customer/profile">
                  <i class="fas fa-id-card"></i> Ver Perfil
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#" (click)="logout()">
                  <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                </a>
              </li>
            </ul>
          </li>
        </ng-container>

        <ng-template #loggedOut>
          <li class="nav-item ms-3">
            <a class="btn btn-outline-primary" routerLink="/auth/register">
              <i class="fas fa-user-plus"></i> Regístrate
            </a>
          </li>
          <li class="nav-item ms-2">
            <a class="btn btn-primary" routerLink="/auth/login">
              <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
