<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a href="#" class="navbar-brand">TrueTest</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="isAuthenticated; else loggedOut">
          <li class="nav-item">
            <a class="nav-link" routerLink="/estudiante/test">Test</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/estudiante/mentores">Mentores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/estudiante/planes">Planes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/estudiante/perfil/actualizar">Actualizar Perfil</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown">
              Mi Perfil
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/estudiante/perfil">Ver Perfil</a></li>
              <li><a class="dropdown-item" href="#" (click)="logout()">Cerrar Sesión</a></li>
            </ul>
          </li>
        </ng-container>
        
        <ng-template #loggedOut>
          <li class="nav-item ms-3">
            <a class="btn btn-outline-primary" routerLink="/auth/register">Regístrate</a>
          </li>
          <li class="nav-item ms-2">
            <a class="btn btn-primary" routerLink="/auth/login">Iniciar Sesión</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
