/* Estilos del Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: linear-gradient(to right, #4facfe, #00f2fe); /* Fondo degradado azul */
  color: #fff;
  padding: 0px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Josefin Sans', sans-serif; /* Aplica la fuente Josefin Sans */
}

.navbar-nav .nav-link {
  font-family: 'Josefin Sans', sans-serif; /* Aplica la fuente Josefin Sans */
  font-weight: 600; /* SemiBold */
  font-size: 40px; /* Tamaño de fuente */
  letter-spacing: 15%; /* Espaciado entre letras */
  color: white; /* Color de la letra */
  align-items: center;
  gap: 10px;
  display: inline-flex;
  line-height: 1; /* Asegura que el texto y el icono estén alineados correctamente */
  text-shadow: 0 0 1px #fff; /* Borde de las letras (stroke) en blanco */
  transition: color 0.3s, text-shadow 0.3s; /* Transición suave para color y efecto hover */
}

.navbar-nav .nav-link:hover {
  color: #000000; /* Color al pasar el mouse */
  text-shadow: 0 0 3px #000000; /* Resaltado al pasar el mouse */
}

/* Estilos para el botón de "Registrarse" */
.btn-outline-primary {
  background-color: #FBC97F; /* Fondo inicial */
  color: #fff; /* Color de texto blanco */
  border: 1px solid #FBC97F; /* Borde del botón */
  font-family: 'Josefin Sans', sans-serif; /* Aplica la fuente */
  font-weight: 600; /* SemiBold */
  font-size: 25px; /* Tamaño de fuente */
  letter-spacing: 15%; /* Espaciado entre letras */
  padding: 5px 10px;; /* Espaciado dentro del botón */
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.logo {
  max-width: 110px; /* Tamaño del logo */
  margin-bottom: 0px;
}

.btn-outline-primary:hover {
  background-color: #F9AF41; /* Color al pasar el cursor */
  color: #fff; /* Mantener color blanco */
}

/* Estilos para los botones de "Registrarse" y "Iniciar sesión" */
.navbar-nav .nav-item {
  display: inline-block; /* Esto asegura que los elementos de la lista estén en la misma línea */
  margin: 0 10px; /* Ajusta el espaciado entre los botones */
}

.btn-outline-primary:active {
  background-color: #69CDF4; /* Color al hacer click */
  color: #fff; /* Mantener color blanco */
}

/* Estilos para el botón de "Iniciar sesión" */
.btn-primary {
  display: inline-block;
  background-color: #71E685; /* Fondo inicial */
  color: #fff; /* Color de texto blanco */
  border: 1px solid #71E685; /* Borde del botón */
  font-family: 'Josefin Sans', sans-serif; /* Aplica la fuente */
  font-weight: 600; /* SemiBold */
  font-size: 25px; /* Tamaño de fuente */
  letter-spacing: 15%; /* Espaciado entre letras */
  padding: 5px 10px; /* Espaciado dentro del botón */
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.btn-primary:hover {
  background-color: #25D443; /* Color al pasar el cursor */
  color: #fff; /* Mantener color blanco */
}

.btn-primary:active {
  background-color: #69CDF4; /* Color al hacer click */
  color: #fff; /* Mantener color blanco */
}




/* Estilos del Menú */
.navbar-menu {
  list-style: none;
  display: flex;
  gap: 30px; /* Espaciado entre elementos del menú */
  margin: 0;
  padding: 0;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px; /* Espaciado entre ícono y texto */
  transition: color 0.3s;
}

.navbar-menu li a:hover {
  color: #ffdf5d; /* Color al pasar el mouse */
}

/* Estilo para los íconos */
.navbar-nav .nav-link i {
  font-size: 38px; /* Tamaño adecuado para los íconos */
  line-height: 1; /* Alineación vertical adecuada para los iconos */
  margin-bottom: 4px; /* Ajuste fino para alinear el icono con el texto */
  transition: transform 0.2s; /* Efecto suave en los íconos */
}
