<div id="ruta" class="container" xmlns:id="http://www.w3.org/1999/xhtml">
  <h1>Perfil de Usuario</h1>

  <div class="profile-container">
    <div class="profile-card">
      <!-- Foto de perfil -->
      <div class="profile-header">
        <div class="profile-photo-container">
          <!-- Imagen de perfil con URL predeterminada si no hay foto -->
          <img [src]="profile.fotoPerfil ? profile.fotoPerfil : 'https://cdn-icons-png.flaticon.com/512/1154/1154987.png'" alt="Foto de perfil" class="profile-photo">

          <!-- Botón para cambiar la foto, con el ícono de lápiz -->
          <button (click)="openPhotoSelection()">
            <i class="fa-solid fa-pencil"></i>
          </button>
        </div>
        <!--INformacion del perfil-->

        <div class="profile-details">
           <h2 class="profile-name">{{ profile.nombre }}</h2>
           <p class="user-id">ID: {{ profile.userId }}</p>

            <p><strong>Email:</strong> {{ profile.email }}</p>
          <!-- Botón para actualizar perfil -->
          <button (click)="navigateToUpdateProfile()" class="update-button">
            Editar informacion
          </button>
         </div>
      </div>



      <!-- Modal de selección de foto -->
      <div *ngIf="photoModalOpen" class="photo-selection-modal">
        <div class="photo-selection-container">
          <h3>Selecciona una foto</h3>
          <div class="photo-options">
            <img *ngFor="let photo of availablePhotos" [src]="photo" alt="Foto de perfil" (click)="selectPhoto(photo)" class="photo-option">
          </div>
          <button mat-button (click)="closePhotoSelection()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


</div>
