<footer class="footer" xmlns="http://www.w3.org/1999/html">
  <div class="footer-container">
    <div class="logo-imagen">
      <img src="logoblanco.png" alt="TrueTest Logo" class="footer-logo" />
    </div>
    <div class="footer-section logo-section">
      <p>TrueTest - Tu mejor guía para pruebas vocacionales y asesoramiento.</p>
    </div>
    <div class="footer-section info-section">
      <h3>Información</h3>
      <p>La pagina fue creada en forma de apoyar a nuesta comunidad de estudiantes que quiseran tener orientacion sobre su carrera.</p>
    </div>

    <div class="footer-section contact-section">
      <h3>Contacto</h3>
      <p><i class="fas fa-phone-alt"></i> +51 979412805</p>
      <p><i class="fas fa-envelope"></i> ancopyi&#64;upao.edu.pe</p>
    </div>
    <div class="footer-section copyright-section">
      <p>© 2024 TrueTest. Todos los derechos reservados.</p>
      <p>
        Síguenos en:
        <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
      </p>
    </div>
  </div>
</footer>
