/* Contenedor principal de la página */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fila que contiene las tarjetas */
.row {
  display: flex;
  flex-wrap: nowrap;
  gap: 50px;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
}

/* Estilos de las tarjetas */
.card {
  flex: 1 1 calc(50% - 60px);
  max-width: 50%;
  height: 830px;
  display: flex;
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(0, 4, 0, 0.65);
  transition: transform 0.9s ease, background-image 0.5s ease;
  margin: 0;
  padding: 0;
  border: 10px solid rgb(228, 182, 112);
  background-size: cover;
  cursor: pointer; /* Añade este estilo para que el cursor cambie a una mano */
  background-position: center;
}

/* Imagen dentro de la tarjeta */
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

/* Oculta la imagen al pasar el cursor */
.card:hover img {
  opacity: 0;
}

/* Título decorativo de la tarjeta */
.card button {
  position: absolute; /* Posiciona el título dentro de la tarjeta */

  bottom: 20px; /* Lo coloca cerca de la parte inferior */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta para centrar exactamente */
  background-color: rgb(228, 182, 112); /* Fondo dorado */
  color: black; /* Texto en negro */
  padding: 10px 20px; /* Espaciado interno */
  font-weight: bold;
  text-decoration: underline; /* Aplica el subrayado */
  letter-spacing: 0.07em; /* Espaciado entre letras */
  font-family: 'Instrument Sans', sans-serif; /* Aplica la fuente Instrument Sans */
  font-style: italic; /* Aplica el estilo itálico */

  font-size: 32px; /* Tamaño del texto */
  border-color: white;
  border-width: 7px;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
  pointer-events: none; /* Evita que interfiera con el clic de la tarjeta */
  transition: transform 0.3s ease-in-out; /* Animación suave */
}

/* Efecto de elevación del título al pasar el cursor */
.card:hover button {
  transform: translateX(-50%) translateY(-5px); /* Eleva ligeramente el título */
}

/* Tarjeta izquierda: se expande hacia la derecha */
.card:first-child:hover {
  transform: scale(2, 1) translateX(25%);
  background-image: url('/nueva-imagen.jpg');
  z-index: 10;
}

/* Tarjeta central: se expande hacia ambos lados */
.card:nth-child(2):hover {
  transform: scale(2.5, 1);
  background-image: url('/nueva-imagen.jpg');
  z-index: 10;
}

/* Tarjeta derecha: se expande hacia la izquierda */
.card:last-child:hover {
  transform: scale(2, 1) translateX(-25%);
  background-image: url('/nueva-imagen.jpg');
  z-index: 10;
}
