<!-- home.component.html -->
<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <!-- Tarjeta Prueba Vocacional -->
        <div class="card" (click)="navigateTo('/estudiante/test')" (mouseover)="hover('prueba')" (mouseleave)="hover(null)">
            <img src="prueba.jpg" alt="Prueba Vocacional" />
            <button>Test Vocacional</button>
        </div>
        <!-- Tarjeta Mentores -->
        <div class="card" (click)="navigateTo('/estudiante/mentores')" (mouseover)="hover('mentores')" (mouseleave)="hover(null)">
            <img src="mentores.jpg" alt="Mentores" />
            <button>Mentores</button>
        </div>

        <!-- Tarjeta Planes -->
        <div class="card" (click)="navigateTo('/estudiante/planes')" (mouseover)="hover('planes')" (mouseleave)="hover(null)">
            <img src="planes.png" alt="Planes" />
            <button>Planes</button>
        </div>
    </div>
</div>

<app-footer></app-footer>
