<section class="login-container">
    <div class="login-card">
      <div class="login-image">
        <div class="image-overlay-text">
          <h2>Bienvenido a TrueTest</h2>
          <p>Inicia sesión para continuar</p>
        </div>
        <!--<img src="assets/images/login-image.png" alt="Imagen de inicio de sesión">-->
  
      </div>
      <div class="login-form">
        <h2>Iniciar Sesión</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="form-field">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput formControlName="email" type="email" placeholder="Ingrese su correo electrónico">
            @if(controlHasError('email', 'required')){
              <mat-error>Este campo es obligatorio</mat-error>
            }
            @if(controlHasError('email', 'email')){
              <mat-error>Introduzca un correo electrónico válido.</mat-error>
            }
          </mat-form-field>
  
          <mat-form-field class="form-field">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password" placeholder="Ingrese su contraseña">
            @if(controlHasError('password', 'required')){
              <mat-error>Este campo es obligatorio</mat-error>
            }
          </mat-form-field>
  
          <button mat-raised-button color="primary" class="submit-button" type="submit" [disabled]="loginForm.invalid">
            Iniciar Sesión
          </button>
        </form>
        <p>¿No tienes cuenta? <a routerLink="/auth/register">Regístrate aquí</a></p>
      </div>
    </div>
  </section>
  

  <!-- Botón temporal para pruebas -->
  <button (click)="goToEstudianteLayout()" class="test-button">
    Ir al layout de Estudiante
  </button>