.profile-photo {
  color: #02ff00;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.profile-img {
  color: #f90202;
  width: 50px; /* Tamaño de la foto */
  height: 100px;
  border-radius: 50%; /* Hace la imagen circular */
  object-fit: cover; /* Mantiene la proporción de la imagen */
}
